.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;


}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .reponds(tab-port,{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    });
}
.col {
    flex: 0 0 auto;	
    padding: 0 15px;
    box-sizing: border-box;
}

.banner-left {
    width: calc(8/12*100%);
}


.banner-right {
    width: calc(4/12*100%);
}
.banner-right-content {
    flex-direction: column;
    row-gap: 30px;
}

@media only screen and (max-width: 600px) {
    .banner-left {
        width: 100%	;
        row-gap: 30px;
    }

    .banner-right {
        width: 100%	;
    }
    .banner {
        row-gap: 30px;

    }
    .banner-right-content {
        flex-direction: row;
    }

    .banner-right-content-top {
        width: 50%;
    }

    .banner-right-content-bottom {
        width: 50%;
    }

}

@media only screen and (max-width: 400px) {
    .banner-right-content-top {
        width: 100%;
    }

    .banner-right-content-bottom {
        width: 100%;
    }

}

.cusor {
    cursor: pointer;
}



.center-bet{
    align-items: center;
    justify-content: space-between;
}


.reset-mar{
    margin: 0;
}

.h-100{
    height: 100%;
}


.w-60 {
    width: 60%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    &-left{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &-right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &-between{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}






.posi{
    position: relative;
}