.container{
    width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .reponds(tab-land,{
        width: 100%;
    });
    .reponds(tab-port,{
        width: 100%;
    });
    .reponds(phone,{
        width: 100%;
    });
    .reponds(tab-land,{
        padding: 0 .5rem;
    });
    &--left{
        display: flex;
        align-items: center;
    }

    

    &--right{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.cusor {
    cursor: pointer;
}




.flex-service{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .reponds(phone,{
        flex-direction: column;
    })
}