.container{
    width: 1140px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--left{
        display: flex;
        align-items: center;
    }

    &--right{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.cusor {
    cursor: pointer;
}




